.center{
    float: left;
    margin-left: 20px;
    width: 80vw;
}

#name{
    font-size: 30px;
}

.row{
    display: flex;
    justify-content: stretch;
}

.types{
    width: 24vw;
}

.paper{
    width: 80vw;
}

.editRules{
    padding-left: 20px;
    width: 240px;
}

.editRules p{
    font-size: 20px;
    font-weight: bold;
    color: navy;
    opacity: 0.7;
    cursor: pointer;
}