<div style="margin-bottom: 10%;"></div>
<div class="container">
    <h1 class="header" >Forgot Password</h1>
    <form (ngSubmit)="resetPassword()" >
        <div class="form-control">
            <label for="text">Email &nbsp;&nbsp; <fa-icon [icon]="emailIcon"></fa-icon> </label>
            <div class="row">
                <input type="text" name="email" id="email" [(ngModel)]="user.email" placeholder="Enter Email">
                <fa-icon class="inp-icon" [icon]="close" (click)="clearEmail()"></fa-icon>
            </div>
        </div>
    
        <div class="form-control">
            <label for="day">Password &nbsp;&nbsp; <fa-icon [icon]="passwordIcon"></fa-icon> </label>
            <div class="row">
                <input type="password" name="password" [(ngModel)]="user.password" [type]="showPassword ? 'text' : 'password'" 
                       id="password" placeholder="New Password">
                <fa-icon class="inp-icon" [icon]="passwordShowState" (click)="togglePasswordShow()"></fa-icon>
            </div>
        </div>

        <div class="form-control">
            <label for="day">Confirm Password &nbsp;&nbsp; <fa-icon [icon]="passwordIcon"></fa-icon> </label>
            <div class="row">
                <input type="password" name="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'"
                       [(ngModel)]="confirmPassword" id="confirmPassword" placeholder="Re-enter password">
                <fa-icon class="inp-icon" [icon]="confirmPasswordShowState" (click)="toggleConfirmPasswordShow()"></fa-icon>
            </div>
        </div>
    
        <input type="submit" name="submit" id="submit" value="Reset Password" class="btn btn-block">
    </form>
</div>
